#------------------------------------------------------------------------------
#
# Denne koden forvaltes av:   Team Heimdall
# Dokumentasjon:
# https://kartverket.atlassian.net/wiki/spaces/HEIM/overview
# Virksomhetsapplikasjon:
# https://kartverket.service-now.com/nav_to.do?uri=cmdb_ci_business_app.do?sys_id=7dd128d21b34ec5038c4ec2e6e4bcb57%26sysparm_view=Kartverkets_applikasjonsportefølje

# * @kartverket/matrikkel-core

/.sikkerhet/ @lislei
